#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}
body{
  font-family: "DM Sans";
}

.or::before{
  content: " ";
  height: 1px;
  width: 210px;
  background-color: #C9DCDE;
  position:absolute;
  left: -35px;
  top: 12px;

}
.or::after{
  content: " ";
  height: 1px;
  width: 210px;
  background-color: #C9DCDE;
  position:absolute;
  right: -35px;
  top: 12px;
}

.burger{
  align-self: center;
  visibility: hidden;
}

@media (max-width: 1024px) {
  .normal_menu{
    column-gap: 20px !important;
    font-size: 10px;
  }
  .nav_containger{
    grid-template-columns: 1fr 1fr;;
  }
  .sign_up_button{
    font-size: 10px !important;
    padding-left: 9px !important;
    padding-right: 9px !important;
    background-color: red !important;
  }

}

@media (max-width: 870px) {
  .normal_menu {
    column-gap: 10px !important;
    font-size: 10px !important;
  }
  .nav_containger {
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
  }
  .sign_up_button {
    font-size: 12px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    background-color: green !important;
  }

}


@media  (max-width: 768px) {
  .nav_containger{
    grid-template-columns: 1fr 2fr;
    column-gap: 0px;
  }
  .burger{
      visibility: visible;
      margin-left: 28rem;
  }
  .normal_menu{
      visibility: hidden;
  }
  .eye_button2{
      right:5rem !important; 
  }
  .eye_button1{
      left: 22rem !important;
  }
  .edsn_logo{
    margin-left: 150px !important;
  }
}

@media (max-width: 600px)  {
  .edsn_logo{
    margin-left:50px !important;
  }
  .burger{
      margin-left: 16rem;
  }

}


