#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  border-color: #00BCD4;
}
body{
  font-family: "DM Sans";
}

.or::before{
  content: " ";
  height: 1px;
  width: 210px;
  background-color: #C9DCDE;
  position:absolute;
  left: -35px;
  top: 12px;

}
.or::after{
  content: " ";
  height: 1px;
  width: 210px;
  background-color: #C9DCDE;
  position:absolute;
  right: -35px;
  top: 12px;
}

.burger{
  align-self: center;
  visibility: hidden;
}

@media (max-width:1920px) {
  .nav_container{
    width: 100%;
    left: 0;
  }
}

@media (max-width: 1300px) {
    .normal_menu{
      column-gap: 20px;
      font-size: 10px;
    }
    .sign_up_button {
      font-size: 12px !important;
      padding-left: 8px !important;
      padding-right: 8px !important;
      background-color: pink !important;
    }
    .nav_containger{
      grid-template-columns: 1fr 1fr;
      column-gap: 0px;
    }
    
}

@media (max-width: 1168px){
  .normal_menu {
    column-gap: 30px !important;
    font-size: 16px !important;
  }
  .nav_containger{
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
  }
    .sign_up_button {
      font-size: 12px !important;
      padding-left: 8px !important;
      padding-right: 8px !important;
      background-color: violet !important;
    }
  }
@media (max-width: 1071px) {
  .normal_menu{
    column-gap: 25px !important;
    font-size: 14px !important;
  }
  .nav_containger{
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
  }
  .sign_up_button {
    font-size: 12px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    background-color: red !important;
  }
}

@media (max-width: 1024px) {
  .normal_menu{
    column-gap: 20px !important;
    font-size: 14px !important;
  }
  .nav_containger{
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
  }
  .sign_up_button {
    font-size: 12px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    background-color: yellow !important;
  }


}

@media (max-width:890px) {
  .normal_menu {
    column-gap: 18px !important;
    font-size: 14px !important;
  }
  .nav_containger {
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
  }
  .sign_up_button {
    font-size: 12px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    background-color: orange !important;
  }
  
}
@media (max-width: 870px) {
  .normal_menu {
    column-gap: 15px !important;
    font-size: 14px !important;
  }
  .nav_containger {
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
  }
  .sign_up_button {
    font-size: 12px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    background-color: green !important;
  }
  .edsn_logo{
    margin-left:5rem !important;
    width:100px;
    height: 40px;
  }
}

@media (max-width: 841px) {
  .normal_menu {
    column-gap: 14px !important;
    font-size: 12px !important;
  }
  .nav_containger {
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
  }
  .sign_up_button {
    font-size: 12px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    background-color: green !important;
  }
  .edsn_logo{
    margin-left:5rem !important;
    width:100px;
    height: 40px;
  }
}

@media  (max-width: 768px) {
  .nav_containger{
    grid-template-columns: 1fr 2fr;
    column-gap: 0px;
  }
  .burger{
      visibility: visible;
      left: 40rem;
      position: absolute;
  }
  .normal_menu{
      visibility: hidden;
  }
  .eye_button2{
      right:5rem !important; 
  }
  .eye_button1{
      left: 22rem !important;
  }
  .edsn_logo{
    margin-left: 150px !important;
  }
}

@media (max-width: 600px)  {
  .edsn_logo{
    margin-left:50px !important;
    width:100px;
    height: 40px;
  }
  .burger{
      left: 30rem;
  }
}

@media (max-width: 520px) {
  .burger{
    left: 26rem;
}
  .edsn_logo{
    width:110px;
    height: 50px;
} 
}

@media (max-width: 480px) {
  .burger{
    left: 25rem;
}
  .edsn_logo{
    width:110px;
    height: 50px;
  }
.login_main_container{
  margin-left: 10px !important;
  margin-right: 2rem !important;
}
.login_header_text1{
  font-size: 30px !important;
  margin-left: 1px !important;
}
.login_header_text2{
  font-size: 30px !important;
  /* margin-left: 1px !important; */
}
.login_body_text{
  width: 350px !important;
  margin-left: 1.9rem !important;
}
.login_button_container{
  margin-right: 1.8rem !important;
  margin-left: 40px !important;
}
.login_input_box{
  margin-left: 23px !important;
  width: 345px !important;
}
.login_checkbox{
  margin-left: 15px !important;
  margin-right: 10px !important;
}
.login_keep_account{
  margin-right: 30px !important;
}
.login_recaptcha{
  margin-left: -7px !important;
}
.login_account_button{
  margin-top: 10rem;
}
.eye_button1{
  margin-left: 5px;
}
.eye_button2{
  margin-right: -3rem;
}

}

@media (max-width: 400px) {
  .burger{
    left: 20rem;
}
  .edsn_logo{
    width:70px;
    height: 10px;
}
.login_main_container{
  margin-left: 0px !important;
  margin-right: 2rem !important;
}
.login_header_text1{
  font-size: 30px !important;
  margin-left: 1px !important;
}
.login_header_text2{
  font-size: 30px !important;
  /* margin-left: 1px !important; */
}
.login_body_text{
  width: 350px !important;
  margin-left: 1.9rem !important;
}
.login_button_container{
  margin-right: 1.8rem !important;
  margin-left: 40px !important;
}
.login_input_box{
  margin-left: 23px !important;
  width: 345px !important;
}
.login_checkbox{
  margin-left: 15px !important;
  margin-right: 10px !important;
}
.login_keep_account{
  margin-right: 30px !important;
}
.login_recaptcha{
  margin-left: -7px !important;
}
.eye_button1{
  margin-left: 5px;
}
.eye_button2{
  margin-right: -3rem;
}

}

@media (max-width: 393px) {
  .burger{
    left: 21rem;
  }
  .edsn_logo{
    width:110px;
    height: 10px;
    margin-left: 30px !important
}

  .login_main_container{
    margin-left: 0px !important;
    margin-right: 2rem !important;
  }
  .login_header_text1{
    font-size: 30px !important;
    margin-left: 1px !important;
  }
  .login_header_text2{
    font-size: 30px !important;
    /* margin-left: 1px !important; */
  }
  .login_body_text{
    width: 350px !important;
    margin-left: 1.9rem !important;
  }
  .login_button_container{
    margin-right: 1.8rem !important;
    margin-left: 40px !important;
  }
  .login_input_box{
    margin-left: 23px !important;
    width: 345px !important;
  }
  .login_checkbox{
    margin-left: 15px !important;
    margin-right: 10px !important;
  }
  .login_keep_account{
    margin-right: 30px !important;
  }
  .login_recaptcha{
    margin-left: -7px !important;
  }
  .eye_button1{
    margin-left: 5px;
  }
  .eye_button2{
    margin-right: -3rem;
  }

  .verify-header{
   width: 200px;
  }
  /* .verify_body{
    width: 300px;
  } */

}

@media (max-width: 380px){
  .burger{
    left: 21rem;
  }
  .edsn_logo{
    width:110px;
    height: 5px;
    margin-left: 20px !important
}
  .login_main_container{
    margin-left: 0px !important;
    margin-right: 2rem !important;
  }
  .login_header_text1{
    font-size: 30px !important;
    margin-left: 1px !important;
  }
  .login_header_text2{
    font-size: 30px !important;
    /* margin-left: 1px !important; */
  }
  .login_body_text{
    width: 350px !important;
    margin-left: 1.9rem !important;
  }
  .login_button_container{
    margin-right: 1.8rem !important;
    margin-left: 40px !important;
  }
  .login_input_box{
    margin-left: 23px !important;
    width: 345px !important;
  }
  .login_checkbox{
    margin-left: 15px !important;
    margin-right: 10px !important;
  }
  .login_keep_account{
    margin-right: 30px !important;
  }
  .login_recaptcha{
    margin-left: -7px !important;
  }
  .eye_button1{
    margin-left: 5px;
  }
  .eye_button2{
    margin-right: -3rem;
  }
}

@media (max-width: 375px){
.burger{
  left: 20rem;
}
.edsn_logo{
  width:130px;
  height: 5px;
  margin-left: 30px !important
}
.login_main_container{
  margin-left: 10px !important;
  /* margin-right: 1rem !important; */
}
.login_header_text1{
  font-size: 30px !important;
  margin-left: 1px !important;
}
.login_header_text2{
  font-size: 30px !important;
  /* margin-left: 1px !important; */
}
.login_body_text{
  width: 350px !important;
  margin-left: 1.9rem !important;
}
.login_button_container{
  margin-right: 1.8rem !important;
  margin-left: 40px !important;
}
.login_input_box{
  margin-left: 23px !important;
  width: 345px !important;
}
.login_checkbox{
  margin-left: 15px !important;
  margin-right: 10px !important;
}
.login_keep_account{
  margin-right: 30px !important;
}
.login_recaptcha{
  margin-left: -7px !important;
}
.eye_button1{
  margin-left: 5px;
}
.eye_button2{
  margin-right: -3rem;
}
.login_account_button{
  margin-top: 1rem !important;
}
}


.login_filter_button{
    width: 100%;
}

.radio_check::after{
  content: " ";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  background-color: #00BCD4;
  top: 3px;
  left: 3.6px;

}

@media (max-width: 526px) {
  .user_info_container{
    margin-left: -11rem !important;
    overflow: hidden !important;
  }
  .user_info_header1{
    font-size: 30px !important;
    margin-left: 1rem !important
  }
  .user_info_header2{
    font-size: 30px !important;
  }
  .user_info_body_text{
    margin-left: 6.9rem !important;
  }
  .user_info_form_container{
    grid-template-columns:1fr !important;
    margin-right: 3rem !important;
  }
  .user_info_form1_container{
    margin-left:10.5rem !important;
    row-gap: 2px !important;
    width:fit-content !important;
  }
  .user_info_input_container{
    gap: 12px !important;
    width: 200px !important;
  }
  .user_info_form2_container{
    margin-left: 10.6rem !important;
    margin-top: 0px !important;
    width: fit-content !important;

  }
  .user_info_button_container{
    margin-left: 5.5rem !important;
  }
  .user_button_container{
    width: 320px !important;
    margin-left: 7.4rem !important;
  }
  .user_info_button{
    margin-left: 7.5rem !important;
  }
  .user_info_agree{
    margin-left: 1px !important;
    font-size: 11px;
  }
  .check_icon{
    top:-1rem !important;
  }
  .eye2{
    right: 2rem !important;
  }
  .eye1{
    left: 16.5rem !important;
  }
}

@media (max-width: 492px) {
  .user_info_container{
    margin-left: -7.2rem !important;
    overflow: hidden !important;
  }
  .user_info_header1{
    font-size: 30px !important;
    margin-left: 1rem !important
  }
  .user_info_header2{
    font-size: 30px !important;
  }
  .user_info_body_text{
    margin-left: 6.9rem !important;
  }
  .user_info_form_container{
    grid-template-columns:1fr !important;
    margin-right: 3rem !important;
  }
  .user_info_form1_container{
    margin-left:10.5rem !important;
    row-gap: 2px !important;
    width:fit-content !important;
  }
  .user_info_input_container{
    gap: 12px !important;
    width: 200px !important;
  }
  .user_info_form2_container{
    margin-left: 10.6rem !important;
    margin-top: 0px !important;
    width: fit-content !important;

  }
  .user_info_button_container{
    margin-left: 5.5rem !important;
  }
  .user_button_container{
    width: 320px !important;
    margin-left: 7.4rem !important;
  }
  .user_info_button{
    margin-left: 7.5rem !important;
  }
  .user_info_agree{
    margin-left: 1px !important;
    font-size: 11px;
  }
  .check_icon{
    top:-1rem !important;
  }
  .eye2{
    right: 2rem !important;
  }
  .eye1{
    left: 16.5rem !important;
  }
}

@media (max-width: 452px) {
  .user_info_container{
    margin-left: -8.5rem !important;
    overflow: hidden !important;
  }
  .user_info_header1{
    font-size: 30px !important;
    margin-left: 1rem !important
  }
  .user_info_header2{
    font-size: 30px !important;
  }
  .user_info_body_text{
    margin-left: 6.9rem !important;
  }
  .user_info_form_container{
    grid-template-columns:1fr !important;
    margin-right: 3rem !important;
  }
  .user_info_form1_container{
    margin-left:10.5rem !important;
    row-gap: 2px !important;
    width:fit-content !important;
  }
  .user_info_input_container{
    gap: 12px !important;
    width: 200px !important;
  }
  .user_info_form2_container{
    margin-left: 10.6rem !important;
    margin-top: 0px !important;
    width: fit-content !important;

  }
  .user_info_button_container{
    margin-left: 5.5rem !important;
  }
  .user_button_container{
    width: 320px !important;
    margin-left: 7.4rem !important;
  }
  .user_info_button{
    margin-left: 7.5rem !important;
  }
  .user_info_agree{
    margin-left: 1px !important;
    font-size: 11px;
  }
  .check_icon{
    top:-1rem !important;
  }
  .eye2{
    right: 2rem !important;
  }
  .eye1{
    left: 16.5rem !important;
  }
}

@media (max-width: 393px) {
  .user_info_container{
    margin-left: -10.5rem !important;
    overflow: hidden !important;
  }
  .user_info_header1{
    font-size: 30px !important;
    margin-left: 1rem !important
  }
  .user_info_header2{
    font-size: 30px !important;
  }
  .user_info_body_text{
    margin-left: 6.9rem !important;
  }
  .user_info_form_container{
    grid-template-columns:1fr !important;
    margin-right: 3rem !important;
  }
  .user_info_form1_container{
    margin-left:10.5rem !important;
    row-gap: 2px !important;
    width:fit-content !important;
  }
  .user_info_input_container{
    gap: 12px !important;
    width: 200px !important;
  }
  .user_info_form2_container{
    margin-left: 10.6rem !important;
    margin-top: 0px !important;
    width: fit-content !important;

  }
  .user_info_button_container{
    margin-left: 5.5rem !important;
  }
  .user_button_container{
    width: 320px !important;
    margin-left: 7.4rem !important;
  }
  .user_info_button{
    margin-left: 7.5rem !important;
  }
  .user_info_agree{
    margin-left: 1px !important;
    font-size: 11px;
  }
  .check_icon{
    top:-1rem !important;
  }
  .eye2{
    right: 2rem !important;
  }
  .eye1{
    left: 16.5rem !important;
  }
}

@media (max-width: 375px) {
  .user_info_container{
    margin-left: -11rem !important;
    overflow: hidden !important;
  }
  .user_info_header1{
    font-size: 30px !important;
    margin-left: 1rem !important
  }
  .user_info_header2{
    font-size: 30px !important;
  }
  .user_info_body_text{
    margin-left: 6.9rem !important;
  }
  .user_info_form_container{
    grid-template-columns:1fr !important;
    margin-right: 3rem !important;
  }
  .user_info_form1_container{
    margin-left:10.5rem !important;
    row-gap: 2px !important;
    width:fit-content !important;
  }
  .user_info_input_container{
    gap: 12px !important;
    width: 200px !important;
  }
  .user_info_form2_container{
    margin-left: 10.5rem !important;
    margin-top: 0px !important;
    width: fit-content !important;

  }
  .user_info_button_container{
    margin-left: 5.5rem !important;
  }
  .user_button_container{
    width: 320px !important;
    margin-left: 7.4rem !important;
  }
  .user_info_button{
    margin-left: 7.5rem !important;
  }
  .user_info_agree{
    margin-left: 1px !important;
    font-size: 11px;
  }
  .check_icon{
    top:-1rem !important;
  }
  .eye2{
    right: 2rem !important;
  }
  .eye1{
    left: 16.5rem !important;
  }
  .verify_body{
    margin-left: 3px;
  }
  .verify_text{
    font-size: 13px;
  }
}


