#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}
body{
  font-family: "DM Sans";
}

.or::before{
  content: " ";
  height: 1px;
  width: 210px;
  background-color: #C9DCDE;
  position:absolute;
  left: -35px;
  top: 12px;

}
.or::after{
  content: " ";
  height: 1px;
  width: 210px;
  background-color: #C9DCDE;
  position:absolute;
  right: -35px;
  top: 12px;
}
