.homepage_container{
    display: grid;
    grid-template-columns: 33.33% 350px auto;
    background-color: red;
    border-color: aqua;
    transition: all 0.3s ease;

}
.homepage_container_without_chat_room{
    display: grid;
    grid-template-columns: 50% 1fr;
    background-color: pink;
    border-color: aqua;
    transition: all 0.3s ease;
}

.scrollable::-webkit-scrollbar {
    display: none; /* scrollbar ကို ဖျောက်မယ် */
}

.chat-bg{
    width: 100%;
    height: 100vh; 
    background-image: url('images/chat bg.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.chat-msg-container{
    display: flex;
    max-width: 90%;
    gap: 10px;
    align-items: center;
    position: relative;
}

.sender{
    align-items: flex-start;
}

.user{
    align-items: flex-end;
}