.homepage_container{
    display: grid;
    grid-template-columns: 33.33% 350px auto;
    background-color: red;
    border-color: aqua;
    transition: all 0.3s ease;
    height: 945px;

}

@media (max-width:1536px) {
    .homepage_container{
        height: 800px !important;
    }
    .chat-layout-responsive{
        height: 730px !important;
    }
    .chat-list-responsive{
        height: 800px !important;
    }
    .newfeed-responsive{
        height: 800px !important;
    }
    .logo-nav-big-screen{
        width: 45.5% !important;
    }
    .logo-nav-small-screen{
        width: 30.3% !important;
    }
    .menu-big-screen{
        width: 45.4%!important;
    }
    .menu-small-screen{
        width: 30.2% !important;
    }
    .chat-box-nav-responsive{
        width: 38% !important;
    }
    .chat-box-nav2-responsive{
        width: 38% !important;
    }
}

@media (max-width: 1440px) 
{
    .homepage_container{
        height: 600px;
    }
    .chat-layout-responsive{
        height: 530px !important;
    }
    .chat-list-responsive{
        height: 600px !important;
    }
    .newfeed-responsive{
        height: 600px !important;
    }
    .logo-nav-big-screen{
        width: 49.9% !important;
    }
    .logo-nav-small-screen{
        width: 33.2% !important;
    }
    .menu-small-screen{
        width: 33.2% !important;
    }
    .menu-big-screen{
        width: 49.9% !important;
    }
    .chat-box-nav-responsive{
        width: 41.6% !important;
    }
    .chat-box-nav2-responsive{
        width: 41.6% !important;
    }
    
}
.homepage_container_without_chat_room{
    display: grid;
    grid-template-columns: 50% 1fr;
    background-color: pink;
    border-color: aqua;
    transition: all 0.3s ease;
}

.scrollable::-webkit-scrollbar {
    display: none; 
    flex-direction: column-reverse;
}

.chat-bg{
    width: 100%;
    height: 100vh; 
    background-image: url('images/chat bg.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.chat-msg-container{
    display: flex;
    max-width: 90%;
    gap: 10px;
    align-items: center;
    position: relative;
}

.sender{
    align-items: flex-start;
}

.user{
    align-items: flex-end;
}
